//dark colors
$add-bg: #282950;
$page-bg: #31325B;
$todo-bg: #44456A;
$add-btn: #39926A;
$header-color: #B0B3C6;
$body-bg: #8BC8E7;
$completed-bg: #37385f;
$delete-btn: #D26C67;
$text: white;
$shadow: $page-bg;