//dark colors
$body-bg: #6296e4;
$add-bg: #282950;
$page-bg: #31325B;
$todo-bg: #44456A;
$add-btn: #39926A;
$header-color: #B0B3C6;
$completed-bg: #37385f;
$delete-btn: #D26C67;
$text: $header-color;
$shadow: $page-bg;