//light colors
$add-bg-light: #dedee9;
$page-bg-light: #ffffff;
$todo-bg-light: #ffffff;
$todo-border: #d8dce9;
$add-btn-light: #3c6fbd;
$header-color-light: #7b7f8e;
$completed-bg-light: #ffffff;
$delete-btn-light: #D26C67;
$text-light: #666;
$shadow-light: #e3e4ee;
$completed-text-light: #b2bbc7