//light colors
$add-bg-light: #dedee9;
$page-bg-light: #ffffff;
$todo-bg-light: #ffffff;
$add-btn-light: #3c6fbd;
$header-color-light: #7b7f8e;
$completed-bg-light: #e9e9ed;
$delete-btn-light: #D26C67;
$text-light: #666;
$shadow-light: $completed-bg-light;