@import '_dark';
@import 'light-theme';

body{
  background: $body-bg;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

button, input{
  border: none;
}

.no-focus-outline a:focus,
.no-focus-outline input:focus,
.no-focus-outline button:focus {
  outline: none;
}

.page {
  display: grid;
  grid-template-columns: [col1] 1rem [col2] 1fr [col3] 1rem [col4];
  grid-template-rows: [row1] 4rem [row2] 3rem [row3] 5rem [row4] 0fr [row5] 5rem [row6] auto [row7];
  background: $page-bg;
  position: absolute;  top: 2%; left: 0; right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 40rem;
  min-height: 96%;
}

@media screen and (max-width: 770px) {
  .page {
    position: absolute; top: 0; left: 0;
    width: 100%;
    min-height: 100%;
  }
}

.header {
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row1;
  grid-row-end: row2;
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.6rem;
  padding-top: 0.5rem;
  color: $header-color;
  width: 100%;

  .switch {
    position: absolute;
    left: 1rem; top: 1rem;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $add-bg-light;
  -webkit-transition: .4s;
  transition: .4s;
  
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $todo-bg;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: $add-bg;
}

input:focus + .slider {
  box-shadow: 0 0 1px $add-bg;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.add-todo{
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row2;
  grid-row-end: row3;
  background: $add-bg;
  border-radius: 1.5rem;
  form{
    width: 100%;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 2rem [col3];
    border-radius: 1.5rem;

    input[type=text] {
      background: $add-bg;
      padding-left: 1rem;
      border-radius: 1.5rem;
      color: $text;
      font-size: 1rem;
    }
    button{
      grid-column-start: col2;
      background: $add-btn;
      color: white;
      font-size: 1rem;
      border: none;
      height: 2rem;
      width: 2rem;
      padding: 0;
      margin: 0.5rem -0.5rem 0.5rem;
      border-radius: 1rem;
    }
  }
}

.completed-header,.todo-header{
  grid-column-start: col1;
  grid-column-end: col4;
  color: $header-color;
  font-size: 0.9rem;
  padding: 1.2rem 1.5rem;
  margin: 1.2rem 0 1rem;
  border-top: 1px solid $todo-bg;
}
.todo-header{
  grid-row-start: row3;
  grid-row-end: row4;
}

.todo-list {
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row5;
  grid-row-end: row4;
}
.todo-item {
  display: grid;
  grid-template-columns: [col1] 3rem [col2] 1fr [col3] 3rem [col4];
  background: $todo-bg;
  height: 3rem;
  border-radius: 0.7rem;
  border: 1px solid $shadow;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px $shadow;

  input[type=checkbox] {
    grid-column-start: col1;
    grid-column-end: col2;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.75rem 1rem;
  }
  input[type=text] {
    grid-column-start: col2;
    grid-column-end: col3;
    color: $text;
    font-size: 1rem;
    background: inherit;
  }
  button{
    background: $delete-btn;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 0.7rem;
    margin: 0.5rem;
  }
}

.completed{
  font-style: italic;
  background: $completed-bg;
  > input[type=text] {
    text-decoration: line-through;
    color: $header-color;
  }
}

.completed-header{
  grid-row-start: row5;
  grid-row-end: row6;
}

.completed-list{
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row6;
  grid-row-end: row7;
  >div.completed {
    border:none;
  }
}