body{
  background-color: whitesmoke;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.page {
  background-color: white;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.header {
  padding: 2rem;
  font-size: 0.8rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
  border-bottom: 1px solid #cecece;
  font-weight: 100;
  input[type=checkbox] {
    margin: 1rem;
    font-size: 3rem;
    &:focus {
      outline: none;
    }
  }
}

.completed{
  font-style: italic;
  color: #cdcdcd;
  text-decoration: line-through;
}

.add-todo{
  padding: 2rem;
  input {
    height: 3em;
  }
}